# Created by https://www.toptal.com/developers/gitignore/api/web
# Edit at https://www.toptal.com/developers/gitignore?templates=web

.DS_Store

# End of https://www.toptal.com/developers/gitignore/api/web